<section class="basic-login-container">
    <div fxLayout="row">
        <form fxLayout="column" fxFlex.gt-sm="40" fxFlex fxLayoutAlign="center center">
            <mat-form-field>
                <input type="email" matInput placeholder="Your email">
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="Your password">
            </mat-form-field>
            <button mat-raised-button color="primary">Submit</button>
        </form>
        <div fxFlex class="basic-login-container__image" fxHide.lt-md></div>
    </div>
</section>