<section class="new-order" fxLayout fxLayoutAlign="center">
    <form (ngSubmit)="onOrderSubmit(f)" #f="ngForm">
    <mat-card fxFlex="100%" fxFlex.gt-xs="400px">
        <mat-card-title fxLayoutAlign="center">Create Order</mat-card-title>
        <mat-card-content fxLayoutAlign="center">
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select [(value)]="selected" ngModel name="order" required>
                  <mat-option *ngFor="let product of products" [value]="product.id">{{product.name}}</mat-option>
                </mat-select>
              </mat-form-field>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-button type="submit" (click)="openDialog()" [disabled]="!f.valid">Add</button>
        </mat-card-actions>
    </mat-card>
    </form>
</section>